.login-pf-page .card-pf {
    padding: 20px 40px 30px 40px;
    /* margin-top: 120px; */
    border-radius: 20px;
}

.kc-page-title {
    margin-top: 2px;
}

.login-pf-page .login-pf-header h1 {
    font-size: 20px;
    font-weight: 600;
}

#kc-login {
    /* color: var(--pf-c-button--m-primary--Color); */
    background: -webkit-linear-gradient(180deg, #00b0fc 60%, #005de0);
    border-radius: 4px;
    /* width: 50%; */
    /* margin: auto; */
    padding: 10px 0px 10px 0px;
    font-weight: 600;
}

.login-pf-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    height: 85vh;
    /* background: red; */

}

#kc-header-wrapper {
    /* font-size: 29px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 3px; */
    /* line-height: 1.2em; */
    /* padding: 62px 10px 20px; */
    /* white-space: normal; */
    padding: 0px;
    /* border: 3px solid red; */
    height: 100px;
    width: 300px;
}

.kc-logo-text {
    /* background-repeat: no-repeat; */
    /* background-image: url(../img/keycloak-logo-text.png); */
    height: 100% !important;
    /* border: 2px solid green; */
    width: 300px;
    /* margin: 0 auto; */
}

.pf-c-form-control:focus {
    /* --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--focus--BorderBottomColor); */
    /* padding-bottom: var(--pf-c-form-control--focus--PaddingBottom); */
    /* border-bottom-width: var(--pf-c-form-control--focus--BorderBottomWidth); */
    border: 1px solid red;
}

:root {}